.App {
  text-align: center;
  min-height: 100vh;
  background-color: #b51a3a;
  height: auto;
}
.Header {
  color: white;
}
.cImage {
  max-width: 262.5px;
  max-height: 467px;
}
.Caption {
  word-wrap: break-word;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 5px;
}
